
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pilates Plus with Amy</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
        <div class="card">
                <div class="profile">
                    <div class="profile-pic">
                        <img src="images/headshot.png" alt="Headshot">
                    </div>
                </div>
                <div class="info">
                    <div class="name">Amy Filderman</div>
                    <div class="profession">Stott Pilates Certified Instructor 
                        <br></br>
                        Owner of Pilates Plus with Amy
                    </div>
                    <div class="divider"></div>
                    <div class="bio">
                        <span>   
                        <p>Amy, a native Memphian began her ballet training at a young age. She was fascinated with dance and movement. Passion, hard work, discipline, dedication and an eye for detail are instrumental in molding her into the dancer, teacher, and person she is today. Amy brings decades of her dance and teaching experience to her pilates classes  to create a dynamic workout that engages the body and mind.   Her love of helping  others achieve mind/body balance and discovering the body's full potential is her life's work.   
                            <br></br>
                            Each pilates workout is tailored to meet your individual needs.  Clients of all ages, body types and fitness levels will benefit from Amy's pilates workout, whether your rehabilitating from an injury or trying to enhance your sports performance.  Increased strength,  stability,  flexibility,  balance and improvement of posture are a few of the benefits that anyone can achieve.  </p>
                        </span> 
                    </div>
                    <div class="button">
                        <a href="mailto:amfilderman@gmail.com" target="_blank">Let's Connect</a>
                    </div>
                </div>
            </div>
    
</body>
</html>