<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pilates Plus with Amy</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <div class="card">
                <div class="profile">
                    <div class="profile-pic">
                        <img src="images/headshot1.png" alt="Headshot">
                    </div>
                </div>
                <div class="info">
                    <div class="name">Amy Filderman</div>
                    <div class="profession">Pilates Instructor
                    </div>
                    <div class="divider"></div>
                    <div class="bio">
                        <span>   
                        <p>Insert Amy's bio here</p>
                        </span> 
                    </div>
                    <div class="button">
                        <a href="mailto:amfilderman@gmail.com" target="_blank">Let's Connect</a>
                    </div>
                </div>
            </div>
    
</body>
</html>